{% extends 'base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Online Food Delivery Service</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <h2>Place an Order!</h2>
            {% for type in pizza %}
                <h2>{{type.name}} Pizza</h2>
                <label for="size">Choose a size:</label>
                    <select name="size" id="size">
                      <option value="small">Small</option>
                      <option value="medium">Medium</option>
                      <option value="large">Large</option>
                      <option value="none">None</option>
                    </select>
            {% endfor %}
            <a href="orders"class="btn btn-outline-primary">Order Now!</a>
        </div>
    </div>
</div>
{% endblock content %}