{% extends "menu/base.html" %}

{% block content %}

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Mobile</td>
            <td>Size</td>
            <td>Pizza Name</td>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
            <tr>
                <td>{{result.fullname}}</td>
                <td>{{result.mobile}}</td>
                <td>{{result.size}}</td>
                <td>{{result.pizza_name}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}